body{
    background-image: url("/sn/sncyber.svg");
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

h1{
    color: blue;
}

.card{
    width: 35em;
    height: 10em;
    background-color: #81B5A1;
    
    
}